*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;    
}

.header-nav {
    padding-top: 50px;
    padding-bottom: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.header-nav-list {
    display: flex;
    gap: 30px;
    
}

.header-nav-link {
    color: #8C8A8A;
font-size: 18px;
font-weight: 400;
transition: 500ms;
}

.header-nav-link:hover{
    border-bottom: 2px solid rgb(173, 173, 213);
}

.main {
    margin: 30px 0;
}

.main-left {
    max-width: 730px;
    width: 100%;
    background: #F0F0F0;
    padding: 50px 95px 50px 40px;
}

.main-left-title,
.main-right-title {
    color: #4581B7;
font-size: 20px;
font-weight: 700;
margin-bottom: 25px;
}

.main-left-text,
.main-right-text {
    color: #808080;
font-size: 16px;
font-weight: 400;
line-height: 27px; /* 168.75% */
}

.main-right{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    background: #F0F0F0;
    padding: 50px 24px 50px 40px;
}
    
.main-box {
    display: flex;
    justify-content: space-between;
}

.main-right-number,
.main-right-mail {
    margin-top: 40px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}

.footer-box {
    background: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px ;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.footer-right-text {
    color: #808080;
font-size: 16px;
font-weight: 400;
}

.footer-right-number {
    color: #808080;
font-size: 25px;
font-weight: 700;
}